{% extends "base.html" %}
{% block content %}
    <h1>Pendule de Foucault</h1>
    
    <!-- <img src="{{ url_for('video_feed') }}" width="640" height="480"> -->
    <div class="card-group">
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('video_feed') }}" class="card-img-top" alt="video mécanisme pendule">
            <div class="card-body">
              <h5 class="card-title">Vue du mécanisme</h5>
              <p class="card-text">Caméra Axis offrant une vue du mécanisme du pendule</p>
              <a href="/camera_axis" class="btn btn-primary">Vidéo</a>
            </div>
        </div>
    </div>
    
{% endblock %}
